.message {
    display: flex;
    align-items: center;
}

.message > img {
    padding: 10px 10px;
    height: 50px;
    width: 50px;
    object-fit: contain; /*aspect ratio of img will remain*/
}

.message__info {
    padding-left: 10px;
}

.message__timestamp {
    /* padding-left: 10px; */
    color: gray;
    font-weight: 300;
    font-size: 13px;
}

/* .message__avatar { 
    padding: 10px 10px;
    height: 50px;
    width: 50px;
    object-fit: contain;
} */
.message__avatar {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: 500;
    border: 1px gray solid;
}